<html>

<head>
    <title>Login</title>
    <link href="http://localhost:5000/css/serverStyle.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet">
</head>

<body>
    <div class="logindiv">

        <form action="/login" method="POST">
            <p> <input type="text" name="nm" placeholder="Username "></p>
            <p><input type="password" name="pwd" placeholder="Password "></p>
            <p><%= ejslogin %></p>
            <div class="bt">
                <button>Login</button>
            </div>
        </form>
        <div class="bt1">
            New User? <a href="/register"> Register </a> here!
        </div>

    </div>
</body>

</html>