<html>

    <head>
        <title>Register</title>
        <link href="http://localhost:5000/css/serverStyle.css" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet">
    </head>
    
    <body>
        <div class="logindiv">
    
            <form action="/register" method="POST">
                <p> <%= ejsregister %></p>
                <p><input type="text" placeholder="Your Name" name="name"></p>
                <p><input type="email" placeholder="Your email" name="mail"></p>
                <p><input type="text" placeholder="Your Mobile" name="mob"></p>
                <p><input type="password" placeholder="Your Password" name="pas"></p>
                <div class="bt">
                    <button>Register</button>
                </div>
            </form>
    
        </div>
    </body>
    
    </html>