html,body{
    background-color: white;
    color:#555;
    font-family:'Nunito',sans-serif;
    font-weight: 200;
    font-size:18px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}

input {
    width: 300px;
    font-size: 80%;
    height: 35px;
   border: none;
   background-color: inherit;
   border-bottom: 1px solid rgb(233, 168, 47);
    margin: 10px;
   
}

form{
    text-align: center;
}

input:focus {
    outline: none;
}

button{
    font-size: 90%;
    width: 80px;
    padding: 5px;
    height: 40px;
    border-radius: 20px;
    border: none;
    color: #fff;
    background-color: rgb(233, 168, 47);;
}

.logindiv{
    background-color: rgb(197, 184, 184);
    margin: 0 auto;
    width: 400px;
    padding: 10px;
    margin-top: 80px;
    border-radius: 5px;
}

.bt {
    margin-top: 50px;
}

.bt1{
    margin-left: 40px;
}