*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    background-color: white;
    color:#555;
    font-family:'Nunito',sans-serif;
    font-weight: 200;
    font-size:18px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}

/*header*/
header{
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url('../css/img/headerimg-min.jpg');
    height:100vh;
    background-size: cover;
    background-position: center;

}

h1{
    margin: 0;
    padding:0;
    color: #fff;
    font-size: 270% !important;
    font-weight: 300;
     text-transform: uppercase;
    letter-spacing: 1px;;
    word-spacing: 3px;
}
.header-top{
    position: absolute;
    width:1000px;
    top: 50%;
    left:45%;
    transform: translate(-50%, -50%);
}

.btn:link,.btn:visited{
    display: inline-block;
    text-decoration: none;
    padding: 10px 30px;
    border-radius: 200px;
    transition: background-color 0.2s,border 0.2s,color 0.2s;

}
.btn-full:link,.btn-full:visited
{
    background-color: rgb(233, 168, 47);
    color: #fff;
    border:1px solid rgb(233, 168, 47);
    padding: 15px;
    margin-right: 25px;
    height:50px;
    
}

.btn-hollow:link,
.btn-hollow:visited{
    border: 1px solid rgb(233, 168, 47);
    color:  rgb(233, 168, 47);;
}

.btn-full:hover{
    background-color: rgb(255, 166, 0);
}

.btn-hollow:hover{
    background-color: rgb(255, 166, 0);
    color: #fff;
}

/*navbar*/
.row{
    margin: 0 auto;
    max-width: 1000px;
}
.logo{
    height:250px;
    width: auto;
    float: left;
    margin-top:-60px;
    margin-left: -140px;
}

.main-nav{
    list-style: none;
    float:right;
    margin-top: 50px;

}
.main-nav li{
    display: inline-block;
    margin-left: 30px;
}

.main-nav li a:link,
.main-nav li a:visited{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-size: 90%;
    border-bottom:2px white transparent ;
    padding: 7px 0;
   
}

.main-nav li a:hover,
.main-nav li a:active{
    border-bottom:2px solid rgb(233, 168, 47);
    
}

/*features section*/
section{
    margin-top: 30px;
    margin-bottom: 30px;
}

h2{
    text-align: center;
    padding-top: 20px;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 180%!important;
    word-spacing: 2px;
    letter-spacing: 1px;
}

h2::after{
    display: block;
    height: 2px;
    background-color: rgb(233, 168, 47);
    content: " ";
    width: 100px;
    margin: 0 auto;
    margin-top: 20px;
}
.para1{
    line-height: 140%;
    width: 70%;
    margin-left: 15%;
    margin-top: 30px;
    padding: 10px;

}
.box{
    padding: 1%;
    width: 25%;
    display: block;
    float: left;
}
 h3{
    text-transform: uppercase;
    font-weight: 300;
    font-size: 100%;
    margin-bottom: 15px;
}

.box p{
    font-size: 90%;
    line-height: 140%;
}

.iconstyle{
    font-size: 70px;
    display: block;
    color: rgb(233, 168, 47);
    margin-bottom: 20px;
}

/*food pictures*/


.rowimage{
    display: -ms-flexbox; 
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0 4px;
  width: 100%;
}

.column{
    -ms-flex: 25%; 
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
    overflow: hidden;
   
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
    
  
  }

.rowimage:first-child{
    padding: 50px 0;
}

/*how we work*/

.how-we-work{
    background-color: rgb(224, 224, 224);
    margin-top: -70px !important;
    padding: 20px 0;
}

.steps-box img{
    height: 600px;
    width: 100%;
    
}

.mob-logo{
    margin-left: -70px;
}
.row .steps-box{
    padding: 10px;
    margin-top: 20px !important;
}
.steps div{
    border:4px solid rgb(233, 168, 47);
    font-size: 200%;
    display: inline-block;
    color:rgb(233, 168, 47);
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 50%;
    margin: 30px;
    padding: 5px;
   


}

.clearfix{zoom: 1}
.clearfix::after{
    content: "";
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

.btn-app1 img{
    height: 53px;
    width: 120px;
    margin-right: 20px;
    margin-top: 70px;
}
.btn-app2 img{
    height: 50px;
    width: 120px;
    margin-right: 20px;
    margin-top: 70px;
}

.steps-box :first-child{
    padding-right: 3%;
    margin-top: 30px;

}

.steps-box:last-child{
    padding-left: 3%;
}
/*cities*/

.box img{
    height: auto;
    width: 100%;
    margin-bottom: 15px;
    margin-top: 20px;
    
}
.location{
    color: rgb(233, 168, 47);
    font-weight: 200;
    font-size: 20px;
   margin: 0;
}

/*testimonial*/
.testimonial{
    background:linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url("../img/testimonial-bg.jpg");
    height: 80vh;
    background-size: cover;
    background-position: center;
    color:#fff;
    background-attachment: fixed;
    margin-top: 30px;
    
}

.increase-margin{
    height: 50px;
}

 
blockquote{
    padding: 2%;
    font-style: italic;
    line-height: 140%;
    margin-top: 40px;
    margin-bottom: 30px;
    
}

cite{
    font-size: 90%;
    display: block;
    margin-top: 20px;
    
}

cite img{
    height: 45px;
    width: 45px;
    border-radius: 50%;
    margin-right: 10px;
    vertical-align: middle;
}

blockquote:before{
    content: '\201C';
    font-size: 500%;
    display: block;
    align-content: inherit;
}

/*contact form*/
input[type="text"] ,select {
    width: 400px;
    font-size: 80%;
    height: 35px;
    border:1px solid gray;
   
}

input:focus , select:focus ,textarea:focus{
    outline: none;
}
textarea{
    width:400px;
    height: 120px;
    border:1px solid gray;
    resize: none;
}

label{
    font-size: 120%;
    font-weight: lighter;
    margin-bottom: -10px;
}

.contact{
    padding-top: 50px!important;
    padding-left: 100px!important;
    align-items: center;
}

.contact button{
    font-size: 90%;
    width: 80px;
    padding: 5px;
    height: 40px;
    border-radius: 20px;
    border: none;
    color: #fff;
    background-color: rgb(233, 168, 47);;
}

/*footer*/

footer{
    background-color: #1f2021;
    padding: 50px;
}

footer ul{
    list-style: none;
    display: flex;
}
footer a{
    text-decoration: none;
    color: rgb(134, 134, 134);
    
}
footer li{
    margin: 10px;
    font-size: 20px;
    color: rgb(134, 134, 134);
    
}
.ftcopy {
    color: rgb(134, 134, 134);
    margin-left: 10px;
}

.pages :hover , .social-icons :hover{
    color:azure
}



/*rgb(233, 168, 47); */